.song-item {
  display: flex;
  width: 100%;
  height: 8rem;
  color: black;
  align-items: center;
  &__img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
  }

  &__name {
    color: $primary-color;
  }
}

.autosuggest__suggestions-list {
  list-style: none;
}

.suggestion {
  margin: 1rem;
  &:hover {
    background-color: $primary-color-ligth;
    cursor: pointer;
  }
}

.autosuggest__input {
  height: 2rem;
}
