.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px #f0f1f2;

  &__logo {
    width: 7rem;
    align-self: center;
    justify-self: center;
  }

  &__links {
    position: sticky;
    top: 0;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: inline-flex;
    height: 3rem;
    li {
      display: inline-flex;
      height: 100%;
    }
  }
  &__link {
    display: inline-flex;
    margin: 0 1rem;
    text-decoration: none;
    color: $black;
    height: 100%;
    align-items: center;
    padding: 0rem 1rem;
    &:hover {
      color: $primary-color;
    }
    &--selected {
      color: $primary-color;
      border-top: 3px solid $primary-color;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem $large-padding;
    &__links {
      display: inline;
      height: 100%;
    }
  }
}
