.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px #f0f1f2;
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
  }
  &__logo {
    width: 7rem;
    align-self: center;
    justify-self: center;
  }

  &__links {
    position: sticky;
    top: 0;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: inline-flex;
    height: 3rem;
    li {
      display: inline-flex;
      height: 100%;
    }
  }
  &__link {
    display: inline-flex;
    margin: 0 1rem;
    text-decoration: none;
    color: $black;
    height: 100%;
    align-items: center;
    padding: 0rem 1rem;
    &:hover {
      color: $primary-color;
    }
    &--selected {
      color: $primary-color;
      border-top: 3px solid $primary-color;
    }
  }
  &__button {
    display: flex;
    align-items: center;
  }
}

#navBar__button {
  display: none;
}

@media (min-width: $breakpoint-phone) {
  #navBar__button {
    display: inline-flex;
  }
  .navbar {
    height: 3rem;
    flex-direction: row;
    &__button--phone {
      display: none;
    }

    &__header {
      width: 28%;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem $large-padding;
    &__links {
      height: 100%;
    }
    &__header {
      width: 20%;
    }
  }
}

.fullwidth {
  width: 100%;
}
