.event-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  color: black;
  &:hover {
    background-color: $primary-color-ligth;
    cursor: pointer;
  }
  &__info {
    width: 100%;
  }
  &__img {
    width: 100%;
    margin-right: 1rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__name {
    color: $primary_color;
    font-size: medium;
  }
  &__date {
    color: $gray;
  }
}

@media (min-width: $breakpoint-phone) {
  .event-item {
    flex-direction: row;

    &__img {
      width: 30%;
      margin-right: 1rem;
    }
    &__owner {
      margin-top: 3rem;
    }
  }
}
