.event-detail {
  width: 100%;
  padding: 0.5rem;

  &__section {
    display: flex;
    flex-direction: column;
    color: black;
  }
  &__info {
    width: 100%;
  }
  &__img {
    width: 100%;
    margin-right: 1rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__name {
    color: $primary_color;
    font-size: $font-size-title-small;
    margin: 0;
  }
  &__date {
    color: $gray;
  }
}

@media (min-width: $breakpoint-phone) {
  .event-detail {
    &__section {
      flex-direction: row;
    }
    &__img {
      width: 50%;
      margin-right: 1rem;
    }
    &__owner {
      margin-top: 3rem;
    }
  }
}
