$primary-color: #f56b6a;
$secondary-color: #1a535c;
$third-color: #36453b;
$black: #040f0f;
$white: #eee2df;
$success-color: #248232;
$alert-color: #800e13;

$small-space: 1rem;
$medium-space: 2rem;
$large-space: 3rem;

$breakpoint-phone: 599px;
$breakpoint-tablet: 900px;
$breakpoint-tablet-landscape: 1200px;
$breakpoint-desktop: 1800px;

$large-padding: 10rem;
$medium-padding: 6rem;
$small-padding: 1rem;
